
AgdaWriter.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/UserInterfaceState.xcuserstate

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/UserInterfaceState.xcuserstate

AgdaWriter.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Expressions.xcexplist

*.agda

*.xcbkptlist

*.xcbkptlist

Agda Writer/Base.lproj/.DS_Store

Agda Writer/Images.xcassets/.DS_Store

Agda Writer/Images.xcassets/AppIcon.appiconset/.DS_Store

Agda WriterTests/.DS_Store

Agda Writer/agda/.DS_Store

Agda Writer/.DS_Store

Agda Writer.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Agda Writer.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

*.xcbkptlist

.DS_Store
