
AgdaWriter.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/UserInterfaceState.xcuserstate

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/UserInterfaceState.xcuserstate

AgdaWriter.xcodeproj/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AgdaWriter.xcodeproj/project.xcworkspace/xcuserdata/markokoleznik.xcuserdatad/xcdebugger/Expressions.xcexplist

*.agda

*.xcbkptlist

*.xcbkptlist
