<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>colors</key>
		<dict>
			<key>bound</key>
			<dict>
				<key>description</key>
				<string>Bound Variables.</string>
				<key>R</key>
				<integer>0</integer>
				<key>G</key>
				<integer>0</integer>
				<key>B</key>
				<real>0</real>
			</dict>
		</dict>
	</dict>
	<key>Dracula</key>
	<string></string>
</dict>
</plist>
