<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lambda</key>
	<string>λ</string>
	<key>alpha</key>
	<string>α</string>
	<key>omega</key>
	<string>ω</string>
	<key>-&gt;</key>
	<string>→</string>
	<key>&lt;=&gt;</key>
	<string>⟺</string>
	<key>=&gt;</key>
	<string>⟹</string>
	<key>&lt;=</key>
	<string>⟸</string>
	<key>&lt;-&gt;</key>
	<string>⟷</string>
	<key>&lt;-</key>
	<string>←</string>
	<key>N</key>
	<string>ℕ</string>
</dict>
</plist>
