<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lambda</key>
	<string>λ</string>
	<key>alpha</key>
	<string>α</string>
	<key>omega</key>
	<string>ω</string>
	<key>-&gt;</key>
	<string>→</string>
	<key>&lt;=&gt;</key>
	<string>⟺</string>
	<key>=&gt;</key>
	<string>⟹</string>
	<key>&lt;=</key>
	<string>⟸</string>
	<key>&lt;-&gt;</key>
	<string>⟷</string>
	<key>&lt;-</key>
	<string>←</string>
	<key>N</key>
	<string>ℕ</string>
	<key>\le</key>
	<string>≤</string>
	<key>\ge</key>
	<string>≥</string>
	<key>\neq</key>
	<string>≠</string>
	<key>\approx</key>
	<string>≈</string>
	<key>\napprox</key>
	<string>≉</string>
	<key>\simeq</key>
	<string>≃</string>
	<key>\cong</key>
	<string>≅</string>
	<key>\equiv</key>
	<string>≡</string>
	<key>\nequiv</key>
	<string>≢</string>
	<key>\pm</key>
	<string>±</string>
	<key>\mp</key>
	<string>∓</string>
	<key>\times</key>
	<string>×</string>
	<key>\div</key>
	<string>÷</string>
	<key>\cdot</key>
	<string>⋅</string>
	<key>\circ</key>
	<string>∘</string>
	<key>\emptyset</key>
	<string>∅</string>
	<key>\in</key>
	<string>∈</string>
	<key>\notin</key>
	<string>∉</string>
	<key>\ni</key>
	<string>∋</string>
	<key>\notni</key>
	<string>∌</string>
	<key>\subset</key>
	<string>⊂</string>
	<key>\subseteq</key>
	<string>⊆</string>
	<key>\notsubset</key>
	<string>⊄</string>
	<key>\notsubseteq</key>
	<string>⊈</string>
	<key>\subsetneq</key>
	<string>⊊</string>
	<key>\supsetneq</key>
	<string>⊋</string>
	<key>\supset</key>
	<string>⊃</string>
	<key>\supseteq</key>
	<string>⊇</string>
	<key>\cup</key>
	<string>∪</string>
	<key>\cap</key>
	<string>∩</string>
	<key>\bigcup</key>
	<string>⋃</string>
	<key>\bigcap</key>
	<string>⋂</string>
	<key>\aleph</key>
	<string>ℵ</string>
	<key>\beth</key>
	<string>ℶ</string>
	<key>\neg</key>
	<string>¬</string>
	<key>\wedge</key>
	<string>∧</string>
	<key>\vee</key>
	<string>∨</string>
	<key>\veebar</key>
	<string>⊻</string>
	<key>\forall</key>
	<string>∀</string>
	<key>\exists</key>
	<string>∃</string>
	<key>\top</key>
	<string>⊤</string>
	<key>\bot</key>
	<string>⊥</string>
	<key>\therefore</key>
	<string>∴</string>
	<key>\vdash</key>
	<string>⊢</string>
	<key>\models</key>
	<string>⊨</string>
	<key>\Box</key>
	<string>□</string>
	<key>\angle</key>
	<string>∠</string>
	<key>\triangle</key>
	<string>△</string>
	<key>\perp</key>
	<string>⊥</string>
	<key>\parallel</key>
	<string>∥</string>
	<key>\sim</key>
	<string>∼</string>
	<key>\infty</key>
	<string>∞</string>
	<key>\Delta</key>
	<string>Δ</string>
	<key>\nabla</key>
	<string>∇</string>
	<key>\partial</key>
	<string>∂</string>
	<key>\sum</key>
	<string>∑</string>
	<key>\prod</key>
	<string>∏</string>
	<key>\int</key>
	<string>∫</string>
	<key>\iint</key>
	<string>∬</string>
	<key>\iiint</key>
	<string>∭</string>
	<key>\iiiint</key>
	<string>⨌</string>
	<key>\oint</key>
	<string>∮</string>
	<key>\Re</key>
	<string>ℜ</string>
	<key>\Im</key>
	<string>ℑ</string>
	<key>\wp</key>
	<string>℘</string>
	<key>\lfloor</key>
	<string>⌊</string>
	<key>\rfloor</key>
	<string>⌋</string>
	<key>\lceil</key>
	<string>⌈</string>
	<key>\rceil</key>
	<string>⌉</string>
	<key>\|</key>
	<string>∥</string>
	<key>\langle</key>
	<string>⟨</string>
	<key>\rangle</key>
	<string>⟩</string>
	<key>\&apos;</key>
	<string>′</string>
	<key>\&apos;&apos;</key>
	<string>″</string>
	<key>\&apos;&apos;&apos;</key>
	<string>‴</string>
	<key>\oplus</key>
	<string>⊕</string>
	<key>\otimes</key>
	<string>⊗</string>
	<key>\triangleleft</key>
	<string>◃</string>
	<key>\unlhd</key>
	<string>⊴</string>
	<key>\rtimes</key>
	<string>⋊</string>
	<key>\bigoplus</key>
	<string>⨁</string>
	<key>\bigotimes</key>
	<string>⨂</string>
	<key>^0</key>
	<string>⁰</string>
	<key>^1</key>
	<string>¹</string>
	<key>^2</key>
	<string>²</string>
	<key>^3</key>
	<string>³</string>
	<key>^a</key>
	<string>ᵃ</string>
	<key>^b</key>
	<string>ᵇ</string>
	<key>^c</key>
	<string>ᶜ</string>
	<key>^A</key>
	<string>ᴬ</string>
	<key>^B</key>
	<string>ᴮ</string>
	<key>^+</key>
	<string>⁺</string>
	<key>^-</key>
	<string>⁻</string>
	<key>^=</key>
	<string>⁼</string>
	<key>^(</key>
	<string>⁽</string>
	<key>^)</key>
	<string>⁾</string>
	<key>^\alpha</key>
	<string>ᵅ</string>
	<key>^\beta</key>
	<string>ᵝ</string>
	<key>^\gamma</key>
	<string>ᵞ</string>
	<key>_0</key>
	<string>₀</string>
	<key>_1</key>
	<string>₁</string>
	<key>_2</key>
	<string>₂</string>
	<key>_3</key>
	<string>₃</string>
	<key>_a</key>
	<string>ₐ</string>
	<key>_+</key>
	<string>₊</string>
	<key>_-</key>
	<string>₋</string>
	<key>_=</key>
	<string>₌</string>
	<key>_(</key>
	<string>₍</string>
	<key>_)</key>
	<string>₎</string>
	<key>_\beta</key>
	<string>ᵦ</string>
	<key>_\gamma</key>
	<string>ᵧ</string>
	<key>\rightarrow</key>
	<string>→</string>
	<key>\leftarrow</key>
	<string>←</string>
	<key>\uparrow</key>
	<string>↑</string>
	<key>\downarrow</key>
	<string>↓</string>
	<key>\nwarrow</key>
	<string>↖</string>
	<key>\searrow</key>
	<string>↘</string>
	<key>\mapsto</key>
	<string>↦</string>
	<key>\leftrightarrow</key>
	<string>↔</string>
	<key>\rightarrowtail</key>
	<string>↣</string>
	<key>\twoheadrightarrow</key>
	<string>↠</string>
	<key>\hookrightarrow</key>
	<string>↪</string>
	<key>\Rightarrow</key>
	<string>⇒</string>
	<key>\Leftarrow</key>
	<string>⇐</string>
	<key>\Uparrow</key>
	<string>⇑</string>
	<key>\Downarrow</key>
	<string>⇓</string>
	<key>\nearrow</key>
	<string>↗</string>
	<key>\swarrow</key>
	<string>↙</string>
	<key>\Leftrightarrow</key>
	<string>⇔</string>
	<key>\cdots</key>
	<string>⋯</string>
	<key>\ddots</key>
	<string>⋱</string>
	<key>\ldots</key>
	<string>…</string>
	<key>\vdots</key>
	<string>⋮</string>
	<key>\alpha</key>
	<string>α</string>
	<key>\beta</key>
	<string>β</string>
	<key>\gamma</key>
	<string>γ</string>
	<key>\delta</key>
	<string>δ</string>
	<key>\epsilon</key>
	<string>ϵ</string>
	<key>\zeta</key>
	<string>ζ</string>
	<key>\eta</key>
	<string>η</string>
	<key>\theta</key>
	<string>θ</string>
	<key>\kappa</key>
	<string>κ</string>
	<key>\lambda</key>
	<string>λ</string>
	<key>\mu</key>
	<string>μ</string>
	<key>\nu</key>
	<string>ν</string>
	<key>\xi</key>
	<string>ξ</string>
	<key>\omicron</key>
	<string>ο</string>
	<key>\pi</key>
	<string>π</string>
	<key>\rho</key>
	<string>ρ</string>
	<key>\sigma</key>
	<string>σ</string>
	<key>\tau</key>
	<string>τ</string>
	<key>\upsilon</key>
	<string>υ</string>
	<key>\phi</key>
	<string>ϕ</string>
	<key>\chi</key>
	<string>χ</string>
	<key>\psi</key>
	<string>ψ</string>
	<key>\omega</key>
	<string>ω</string>
	<key>\Alpha</key>
	<string>Α</string>
	<key>\Beta</key>
	<string>Β</string>
	<key>\Gama</key>
	<string>Γ</string>
	<key>\Epsilon</key>
	<string>Ε</string>
	<key>\Zeta</key>
	<string>Ζ</string>
	<key>\Eta</key>
	<string>Η</string>
	<key>\Theta</key>
	<string>Θ</string>
	<key>\Kappa</key>
	<string>Κ</string>
	<key>\Lambda</key>
	<string>Λ</string>
	<key>\Mu</key>
	<string>Μ</string>
	<key>\Nu</key>
	<string>Ν</string>
	<key>\Xi</key>
	<string>Ξ</string>
	<key>\Omicron</key>
	<string>Ο</string>
	<key>\Pi</key>
	<string>Π</string>
	<key>\Rho</key>
	<string>Ρ</string>
	<key>\Sigma</key>
	<string>Σ</string>
	<key>\Tau</key>
	<string>Τ</string>
	<key>\Upsilon</key>
	<string>Υ</string>
	<key>\Phi</key>
	<string>Φ</string>
	<key>\Chi</key>
	<string>Χ</string>
	<key>\Psi</key>
	<string>Ψ</string>
	<key>\Omega</key>
	<string>Ω</string>
	<key>\varepsilon</key>
	<string>ε</string>
	<key>\varkappa</key>
	<string>ϰ</string>
	<key>\varphi</key>
	<string>φ</string>
	<key>\varpi</key>
	<string>ϖ</string>
	<key>\varrho</key>
	<string>ϱ</string>
	<key>\varsigma</key>
	<string>ς</string>
	<key>\vartheta</key>
	<string>ϑ</string>
</dict>
</plist>
